<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"
    />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/admin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="__STATIC__/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/xadmin.js"></script>
</head>
<body class="login-bg">
    <div class="login">
        <div class="message">x-admin2.0-会员登录</div>
        <div id="darkbannerwrap"></div>
        <form method="post" class="layui-form" id="form-data">
            <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="button">
            <hr class="hr20">
        </form>
    </div>
    <script>
        function push(obj, url, data) {
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                dataType: "json",
                success: function (msg) {
                    switch (msg.status) {
                        case 0:
                            layer.msg(msg.message, {
                                icon: 2,
                                time: 1000
                            });
                            break;
                        case 3:
                            layer.alert('登录成功', function (index) {
                                window.location.href = '/index/index';
                            });
                            break;
                    }
                }
            })
        }
        $(function () {
            layui.use('form', function () {
                var form = layui.form;
                form.on('submit(login)', function (data) {
                    push(this, '{:url('login/verifyMember')}', $('#form-data').serialize());
                });
            });
        })
    </script>
</body>
</html>